<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.OMPM">

    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.OMPM.History"
            android:label="History"
            android:parentActivityName="com.example.OMPM.MainPage">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.OMPM.MainPage"/>
        </activity>
        <activity android:name="com.example.OMPM.Expenditure"
            android:label="Expenditure"
            android:parentActivityName="com.example.OMPM.MainPage">
        <meta-data android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.OMPM.MainPage"/>
        </activity>
        <activity android:name="com.example.OMPM.SplitBill"
            android:label="SplitBill"
            android:parentActivityName="com.example.OMPM.MainPage">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.OMPM.MainPage"/>
        </activity>
        <activity android:name="com.example.OMPM.ContactUs"
            android:label="ContactUs"
            android:parentActivityName="com.example.OMPM.MainPage">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.OMPM.MainPage"/>
        </activity>
        <activity android:name="com.example.OMPM.AppSettings"
            android:label="AppSettings"
            android:parentActivityName="com.example.OMPM.MainPage">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.OMPM.MainPage"/>
        </activity>
        <activity android:name="com.example.OMPM.ProfileSettings"
            android:label="ProfileSettings"
            android:parentActivityName="com.example.OMPM.MainPage">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.OMPM.MainPage"/>
        </activity>
        <activity android:name="com.example.OMPM.Notifications"
            android:label="Notifications"
            android:parentActivityName="com.example.OMPM.MainPage">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.OMPM.MainPage"/>
        </activity>
        <activity
            android:name="com.example.OMPM.MainPage"
            android:label="Main page"
            android:theme="@style/AppTheme" />
        <activity android:name="com.example.OMPM.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>